<div class="list-item-colors">
  <!-- <button class="color-item" *ngFor="let color of colors" (click)="select(color)">
    <span class="color" [ngStyle]="{'background': color}"></span>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </button> -->

  <ion-button class="color-item" fill="clear" *ngFor="let color of colors" (click)="select(color)">
      <span class="color" [ngStyle]="{'background': color}"></span>
  </ion-button>

  
</div>  
