
.list-item-colors {
  min-width: 56px;
  ion-button{
    height: 30px;
    --padding-start: 8px;
    --padding-end: 8px;
  }
}

.color-item {
  display: flex;
  justify-content: center;
  align-items: center;
}



.color-item span {
  height: 25px;
  width: 25px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
}