<ion-header>
  <ion-toolbar>
    <ion-title>session-list</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addSession()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list #sessionList [hidden]="shownSessions === 0">
    <ion-item *ngFor="let session of sessions" routerLink="/app/tabs/schedule/session/{{session.id}}">
      <ion-label>
        <h3>{{session.name}}</h3>
        <p>
          {{session.timeStart}} &mdash; {{session.timeEnd}}: {{session.location}}
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>