<ion-header>
  <ion-toolbar>
    <ion-title>Forgot password</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-text color="light">
    <p><p>
  </ion-text>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>

    <ion-label position="stacked" color="medium">
      <span class="bold">Email</span>
    </ion-label>
    <ion-item class="ion-margin-vertical" lines="none" color="light">
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="6" size-md="4" class="ion-text-center">
        <ion-button type="submit" shape="round" expand="block" color="light" [disabled]="isLoadingViewVisible">
          <ion-spinner color="dark" *ngIf="isLoadingViewVisible"></ion-spinner>
          <span *ngIf="!isLoadingViewVisible">Submit</span>
        </ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>