<ion-header>
  <ion-toolbar>
    <ion-title>new-session</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-center">
    <ion-col size-xs="6" size-md="4" class="ion-text-center">
      <ion-button type="submit" shape="round" expand="block" (click)="newSession()">
        New Session
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>