<ion-header>
  <ion-toolbar>
    <ion-title>startup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <aside id="left_bar" style="left: 0px;">

    <div class="tabs_container">
      <div class="tab active" tab="0">
        <div>
          <ion-icon name="chatboxes"></ion-icon>
        </div>
      </div>
    </div>

    <div class="content">
      <div class="tab_content active">
        <div id="chat-container">
          <div id="messagesContainer">


            <div class="viewport">
              <div class="overview">


                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_header">
                    <div class="avatar">
                      <img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg">
                    </div>
                    <div class="name">
                      Tuluong
                    </div>
                  </div>
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_label mobile"><img class="icon"
                    src="/static/images/icons/picto_youtube.png">anhtu996@gmail.com is playing <div class="truncate">
                    http://www.youtube.com/watch?v=TAvHaSbt5MA</div>
                  <div class="img_container"><img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg"></div><small
                    time="1578970248000">09:50</small>
                </div>

                <div class="date chat_label">15-January-2020</div>
                <div class="info chat_label"><img class="icon"
                    src="/static/images/icons/dortmund32/sign-out.png">anhtu996@gmail.com joined the room <small
                    time="1579074680508">14:51</small>
                </div>

                <div class="date chat_label">14-January-2020</div>
                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_label mobile"><img class="icon"
                    src="/static/images/icons/picto_youtube.png">anhtu996@gmail.com is playing <div class="truncate">
                    http://www.youtube.com/watch?v=TAvHaSbt5MA</div>
                  <div class="img_container"><img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg"></div><small
                    time="1578970248000">09:50</small>
                </div>

                <div class="date chat_label">15-January-2020</div>
                <div class="info chat_label"><img class="icon"
                    src="/static/images/icons/dortmund32/sign-out.png">anhtu996@gmail.com joined the room <small
                    time="1579074680508">14:51</small>
                </div>

                <div class="date chat_label">14-January-2020</div>
                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_label mobile"><img class="icon"
                    src="/static/images/icons/picto_youtube.png">anhtu996@gmail.com is playing <div class="truncate">
                    http://www.youtube.com/watch?v=TAvHaSbt5MA</div>
                  <div class="img_container"><img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg"></div><small
                    time="1578970248000">09:50</small>
                </div>

                <div class="date chat_label">15-January-2020</div>
                <div class="info chat_label"><img class="icon"
                    src="/static/images/icons/dortmund32/sign-out.png">anhtu996@gmail.com joined the room <small
                    time="1579074680508">14:51</small>
                </div>

                <div class="date chat_label">14-January-2020</div>
                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_label mobile"><img class="icon"
                    src="/static/images/icons/picto_youtube.png">anhtu996@gmail.com is playing <div class="truncate">
                    http://www.youtube.com/watch?v=TAvHaSbt5MA</div>
                  <div class="img_container"><img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg"></div><small
                    time="1578970248000">09:50</small>
                </div>

                <div class="date chat_label">15-January-2020</div>
                <div class="info chat_label"><img class="icon"
                    src="/static/images/icons/dortmund32/sign-out.png">anhtu996@gmail.com joined the room <small
                    time="1579074680508">14:51</small>
                </div>

                <div class="date chat_label">14-January-2020</div>
                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_label mobile"><img class="icon"
                    src="/static/images/icons/picto_youtube.png">anhtu996@gmail.com is playing <div class="truncate">
                    http://www.youtube.com/watch?v=TAvHaSbt5MA</div>
                  <div class="img_container"><img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg"></div><small
                    time="1578970248000">09:50</small>
                </div>

                <div class="date chat_label">15-January-2020</div>
                <div class="info chat_label"><img class="icon"
                    src="/static/images/icons/dortmund32/sign-out.png">anhtu996@gmail.com joined the room <small
                    time="1579074680508">14:51</small>
                </div>

                <div class="date chat_label">14-January-2020</div>
                <div class="chat_block me participant_anhtu996@gmail.com">
                  <div class="chat_block_content">
                    <div class="chat-message"><small time="1578970062000">09:47</small>a</div>
                  </div>
                </div>

                <div class="chat_label mobile"><img class="icon"
                    src="/static/images/icons/picto_youtube.png">anhtu996@gmail.com is playing <div class="truncate">
                    http://www.youtube.com/watch?v=TAvHaSbt5MA</div>
                  <div class="img_container"><img src="http://img.youtube.com/vi/TAvHaSbt5MA/default.jpg"></div><small
                    time="1578970248000">09:50</small>
                </div>

                <div class="date chat_label">15-January-2020</div>
                <div class="info chat_label"><img class="icon"
                    src="/static/images/icons/dortmund32/sign-out.png">anhtu996@gmail.com joined the room <small
                    time="1579074680508">14:51</small>
                </div>

              </div>
            </div>
          </div>

          <div id="chat-text-container">
            <form id="chatForm">
              <input class="chat-input-text" type="text" name="chatText" id="chatText" placeholder="Send a message..."
                autocomplete="off">
              <div id="send-chat-btn" class="btn chat" device="smartphone"></div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </aside>

</ion-content>