


aside {
  background-color: #eaeef7;
  position: absolute;
  width: 18%;
  top: 0px;
  left: 0px;
  bottom: 0px;
  height: inherit;
  display: block;
  overflow: hidden;
}

body#room aside .content .options {
  border-bottom: 0;
}
aside {
  min-width: 240px;
  overflow: visible;
}
aside input {
  position: absolute;
  height: 20px;
  border: 2px solid transparent;
  padding: 2px;
  background-color: #f5f5f5;
  text-align: left;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
aside input:focus {
  outline-offset: 0px;
  outline: 0px;
  border: 2px solid #007dcc;
}
aside .btn.chat {
  position: absolute;
  top: 6px;
  right: 8px;
  height: 28px;
  width: 38px;
}
aside .btn.chat:after {
  content: "";
  position: absolute;
  top: -1px;
  left: 5px;
  width: 28px;
  height: 28px;
  background-image: url("/static/images/send.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
aside .tabs_container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -8px;
  width: 8px;
  z-index: 1;
}

aside .tabs_container:before {
  content: "";
  background-color: #00cbfd;
  left: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  height: 100%;
}

aside .tabs_container .tab {
  height: 45px;
  width: 45px;
  text-align: left;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: translate(8px, 8px);
  color: #eaeef7;
}

aside .tabs_container .tab div {
  height: 45px;
  line-height: 45px;
  font-size: 28px;
}

aside .tabs_container .tab.active,
aside .tabs_container .tab:active {
  position: relative;
  top: -1px;
  z-index: 1;
  background-color: #00cbfd;
  color: #ffffff;
}

aside .content {
  position: relative;
  height: 100%;
}

aside .content .tab_content {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: #ffffff;
}

aside .content .tab_content.active {
  display: block;
}

#messagesContainer {
  overflow: hidden;
  clear: both;
  position: absolute;
  top: 0px;
  bottom: 40px;
  left: 0px;
  right: 0px;
}
#messagesContainer .viewport {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
}
#messagesContainer .overview {
  position: static;
}
#messagesContainer .loading-anchor {
  width: 60%;
  margin: 10px auto;
  font-family: "Oswald";
  font-size: 11px;
  text-align: center;
  background-color: #666666;
  display: none;
  color: #dcdcdc;
  letter-spacing: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 20px 5px 0px;
}
#chat-container
 {
  position: absolute;
  overflow: hidden;
  top: 26px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#chat-text-container {
  position: absolute;
  bottom: 0px;
  height: 40px;
  left: 0px;
  right: 0px;
  background-color: #00a6ce;
}

#chat-text-container #chatForm {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#chat-text-container #chatForm .chat-input-text {
  width: calc(100% - 20px);
  top: 6px;
  left: 5px;
  right: 5px;
  bottom: 6px;
  height: calc(100% - 16px);
  border: 0;
  padding: 2px 5px;
}

.chat_label {
  position: relative;
  margin: 10px 18px;
  padding: 3px;
  text-align: center;
  font-size: 14px;
  font-family: "Oswald", Arial, sans-serif;
  word-wrap: break-word;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.chat_label.date {
  width: 60%;
  margin: 10px auto;
  font-size: 11px;
  text-align: center;
  background-color: #00a6ce;
  color: #ffffff;
  letter-spacing: 1px;
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5;
  padding: 5px 10px 2px 10px;
}

.chat_block {
  padding-top: 0;
}
.chat_block .chat_block_content {
  display: inline-block;
  margin: 3px;
  padding-bottom: 0px;
  max-width: 85%;
}
.chat_block .chat_block_content .name {
  padding: 0px 10px 2px 10px;
  font-weight: bold;
  background-color: rgba(167, 189, 200, 0.9);
}
.chat_block .chat_block_content .chat-message {
  position: relative;
  word-wrap: break-word;
  text-align: left;
  color: #177289;
}
.chat_block .chat_block_content .chat-message small {
  position: absolute;
  bottom: 7px;
  color: #dcdcdc;
  font-size: 10px;
}
.chat_block .chat_block_content .chat-message:last-child {
  padding-bottom: 7px;
  -webkit-border-bottom-right-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.chat_block.me {
  margin-left: 10%;
  margin-right: 15px;
  text-align: right;
}
.chat_block.me .chat_block_content {
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(121, 167, 190, 0.9);
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
}
.chat_block.me .chat_block_content .chat-message {
  background-color: rgba(121, 167, 190, 0.9);
  padding-left: 55px;
  padding-right: 10px;
}
.chat_block.me .chat_block_content .chat-message small {
  left: 0px;
  padding-left: 10px;
}
.chat_block.other {
  margin-right: 10%;
  margin-left: 15px;
  text-align: left;
}
.chat_block.other .chat_block_content {
  border-left: 10px solid transparent;
  border-top: 10px solid rgba(167, 189, 200, 0.9);
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
}
.chat_block.other .chat_block_content .chat-message {
  background-color: rgba(167, 189, 200, 0.9);
  padding-right: 55px;
  padding-left: 10px;
}
.chat_block.other .chat_block_content .chat-message small {
  right: 0px;
  padding-right: 10px;
}



