<ion-list lines="none" mode="ios" class="ion-no-margin">
  <ion-list-header>Select size erase</ion-list-header>

  <ion-item button detail="false" class="ion-no-padding"  (click)="select(4)">
    <div class="line line-4"></div>
  </ion-item>
  <ion-item button detail="false" class="ion-no-padding" (click)="select(6)">
    <div class="line line-6"></div>
  </ion-item>
  <ion-item button detail="false" class="ion-no-padding"  (click)="select(8)">
    <div class="line line-8"></div>
  </ion-item>
</ion-list>