ion-list {
  padding: 10px 16px;
}
ion-item {
  --min-height: 36px;
  --inner-padding-end: 0;
}
.line-4 {
  height: 4px;
}
.line-6 {
  height: 6px;
}
.line-8 {
  height: 8px;
}

.line {
  background: #ddd;
  width: 100%;
}

// .list-ios {
//   margin-bottom: 20px;
// }
