<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <img class="ion-margin" width="120" src="./assets/icon/favicon.png">
  </div>

  <form class="ion-padding-vertical" [formGroup]="form" (ngSubmit)="onLogin()" novalidate>
    <ion-list lines="none">
      <ion-item color="light" lines="none" class="ion-margin-bottom">
        <ion-input type="text" formControlName="email" placeholder="Email">
        </ion-input>
      </ion-item>

      <ion-item color="light" lines="none">
        <ion-input type="password" formControlName="password" placeholder="Password">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-col size-xs="12" size-md="6" class="ion-text-center ion-no-padding">
        <ion-button type="submit" color="primary" expand="block" shape="round" [disabled]="isLoadingViewVisible">
          Login
        </ion-button>
      </ion-col>
    </ion-row>



    <div class="ion-margin-vertical">
      <ion-button type="button" class="bold" expand="block" fill="clear" color="medium"
        (click)="onForgotPasswordButtonTouched()">
        Forgot password?
      </ion-button>
    </div>
  </form>


</ion-content>