<ion-content>

  <div id="wrapper">

    <ng-container *ngIf="platform.is('ipad')">
      <div class="pager-ipad">
        <div class="pager-content">
          <div class="pager-list">
            <ion-button class="pager-item" color="light" *ngFor="let screen of session?.screens;index as i"
              (click)="loadScreen(screen)" (press)="onPressingItem($event, screen)">{{i + 1}}</ion-button>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="!platform.is('ipad')">
      <div class="pager">
        <div class="pager-list " [ngClass]="showPicCanvas ? '':'ion-hide'">
          <ion-button class="pager-item" color="light" *ngFor="let screen of session?.screens;index as i"
            (click)="loadScreen(screen)" (press)="onPressingItem($event, screen)">{{i + 1}}
          </ion-button>
        </div>
        <ion-button class="pager-item btn-screen" color="light" (click)="showPicCanvas = !showPicCanvas">
          Screen <br />
          ({{session?.screens.length}})</ion-button>
      </div>
    </ng-container>


    <canvas id="mainCanvas"></canvas>
    <div id="contextMenu" class="contextMenu">
      <table>
        <tbody>
          <tr>
            <td (click)="objRemove()">
              <ion-icon name="ios-trash"></ion-icon>
            </td>
            <td (click)="objLock()">
              <ion-icon name="ios-lock"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="controls" #jsControls>
      <div class="list-btn btn-group">
        <button class="btn btn-default" (click)="closeWindow()">
          <ion-icon style="transform: rotate(180deg);" name="exit"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="addNewScreen()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="selectColor($event)">
          <div class="color-item-selected" [ngStyle]="{'background': colorPen}"></div>
        </button>
        <button class="btn btn-default" (click)="addPic()">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="enablePen()" [ngClass]="mode=='pen'?'active':''">
          <ion-icon slot="icon-only" name="md-create"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="selectSizeEraser($event)" [ngClass]="mode=='eraser'?'active':''">
          <ion-icon slot="icon-only" src="assets/icons/eraser.svg"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="enableCursor()" [ngClass]="mode=='pointer'?'active':''">
          <ion-icon slot="icon-only" name="hand"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="undo()">
          <ion-icon slot="icon-only" name="ios-undo"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="clearScreen()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </button>
      </div>
    </div>

    <div class="avatars">
      <div style="width: 50px;height: 50px;" id="publisher"></div>
      <div id="subscriber"></div>
    </div>
  </div>



</ion-content>