#wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}
.pager {
  position: fixed;
  z-index: 1;
  left: 8px;
  left: calc(constant(safe-area-inset-left) + 8px);
  left: calc(env(safe-area-inset-left) + 8px);
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 62px;
  .pager-content {
    padding: 0;
  }

  .pager-list {
    background: #6c757d;
    width: 100%;
    height: calc(100vh - 62px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .pager-item {
    border-radius: 2px;
    height: 54px;
    width: 54px;
    font-size: 24px;
    margin: 0;
    margin-top: 6px;

    --padding-start: 16px;
    --padding-end: 16px;
  }

  .btn-screen {
    text-transform: capitalize;
    font-size: 14px !important;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
  }
}

.pager-ipad {
  position: initial;
  overflow-y: scroll;
  height: 100%;
  background: #6c757d;
  width: 66px;
  display: flex;
  flex-direction: column;
  .pager-content {
    padding: 0;
  }
  .pager-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .pager-item {
    border-radius: 2px;
    height: 54px;
    width: 54px;
    font-size: 24px;
    margin: 0;
    margin-top: 6px;
    --padding-start: 16px;
    --padding-end: 16px;
  }
}

.controls {
  position: fixed;
  left: calc(50% - (50 * 8 / 2) * 1px);
  bottom: 5px;
  bottom: calc(constant(safe-area-inset-bottom) + 5px);
  bottom: calc(env(safe-area-inset-bottom) + 5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}

.btn-group > .btn {
  position: relative;
  flex: 0 1 auto;
}

.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active {
  z-index: 1;
}

.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: -1px;
}

.btn-group > .btn:first-child {
  margin-left: 0;
}

.btn-group > .btn:not(:last-child),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.55rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  &:focus {
    text-decoration: none;
  }
  &:focus,
  &.focus {
    outline: 0;
  }
}

.btn-default {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  ion-icon {
    font-size: 28px;
  }
  &:active,
  &.active {
    color: #fff;
    background-color: #545b62;
    border-color: #4e555b;
  }
}

#contextMenu {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  transform-origin: 0 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
  color: #fff;
  table {
    td {
      padding: 4px 8px;
      min-width: 22px;
      text-align: center;
      ion-icon {
        font-size: 20px;
      }
    }
  }
}

#picList {
  height: 80vh;
  width: 70px;
  position: absolute;
  left: 24px;
  top: 16px;
  background: none;
  ul {
    padding: 0;
    list-style-type: none;
    width: 100%;
    padding-bottom: 80px;
    li {
      margin: 8px;
      position: relative;
      -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75);
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75);

      img {
        display: block;
        width: 60px;
        height: 60px;
      }
      span {
        color: red;
        font-size: 14px;
        top: 4px;
        left: 4px;
        position: absolute;
      }
    }
  }
}

#btnShowFile {
  position: absolute;
  left: 29px;
  bottom: 4px;
  width: 60px;
  height: 50px;
}

#timeCounter {
  position: fixed;
  bottom: 12px;
  right: 12px;
  font-size: 14px;
  color: red;
}

.avatars {
  position: fixed;
  top: 12px;
  right: 12px;
  width: 50px;
  height: 240px;
  overflow: scroll;
  #me {
    width: 50px;
    height: 50px;
    // border-radius: 20px !important;
    margin-bottom: 4px;
  }
  video {
    margin-right: 4px;
    margin-top: 4px;
    // border-radius: 50% !important;
  }
}

.OT_root {
  .OT_subscriber {
    position: absolute !important;
    bottom: 0 !important;
    left: 0 !important;
  }
}

.color-item-selected {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #fff;
}
