<ion-content>



  <div id="wrapper">

    <!-- <ng-container *ngIf="isIpad()">
      <div class="pager-ipad">
        <div class="pager-content">
          <div class="pager-list">
            <ion-button class="pager-item" color="light" *ngFor="let screen of session?.screens;index as i"
              (click)="loadScreen(screen)" (press)="onPressingItem($event, screen)">{{i + 1}}</ion-button>
          </div>
        </div>
      </div>
    </ng-container> -->


    <div class="pager">
      <div class="pager-list " [ngClass]="showPicCanvas ? '':'ion-hide'">
        <ion-button class="pager-item" color="light" *ngFor="let screen of session?.screens;index as i"
          (click)="loadScreen(screen)" (press)="onPressingItem($event, screen)">{{i + 1}}
        </ion-button>
      </div>
      <ion-button class="pager-item btn-screen" color="light" (click)="showPicCanvas = !showPicCanvas">
        Screen <br />
        ({{session?.screens?.length || 0}})</ion-button>
    </div>


    <canvas id="mainCanvas"></canvas>

    <div id="contextMenu" class="contextMenu">
      <table>
        <tbody>
          <tr>
            <td (click)="objRemove()">
              <ion-icon name="ios-trash"></ion-icon>
            </td>
            <td (click)="objLock()">
              <ion-icon name="ios-lock"></ion-icon>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="controls">
      <button class=" btn-back">
        <ion-icon name="fastforward"></ion-icon>
      </button>
      <div class="list-btn btn-group">
        <button class="btn btn-default" (click)="closeWindow()">
          <ion-icon style="transform: rotate(180deg);" name="exit"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="addNewScreen()">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="selectColor($event)">
          <div class="color-item-selected" [ngStyle]="{'background': colorPen}"></div>
        </button>
        <button class="btn btn-default" (click)="addPic()">
          <ion-icon slot="icon-only" name="image"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="enablePen()" [ngClass]="mode=='pen'?'active':''">
          <ion-icon slot="icon-only" name="md-create"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="selectSizeEraser($event)" [ngClass]="mode=='eraser'?'active':''">
          <ion-icon slot="icon-only" src="assets/icons/eraser.svg"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="enableCursor()" [ngClass]="mode=='pointer'?'active':''">
          <ion-icon slot="icon-only" name="hand"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="undo()">
          <ion-icon slot="icon-only" name="ios-undo"></ion-icon>
        </button>
        <button class="btn btn-default" (click)="clearScreen()">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </button>
      </div>
    </div>

    <span id="timeCounter">Time: {{timerCounter | timeCounter}}</span>
  </div>





</ion-content>