ion-toolbar {
  --background: rgba(0, 176, 155, 0.2);
}

.padding-70 {
  padding-top: 70px;
}

.schedule-time {
  margin: 10px 0;
}

.list-form{
  ion-item{
    margin: 8px 0;
  }
}

.meeting-code {
  border: 1px solid #aaa;
}

.error {
  color: red !important;
}

.menuButton {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background: none;
}

.menu-btn {
  ion-fab-list {
    width: 304px;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 8px 12px;
    background: #fff;
    ion-item {
      width: 100%;
    }
    ion-fab-button {
      --border-radius: 0;
      --box-shadow: none;
      width: 100%;
      margin: 0;
      border-bottom: 1px solid #000;
      :last-child {
        border-bottom: none !important;
      }
    }
  }
}

.btn-viewall{
  --safe-area-inset-bottom: env(safe-area-inset-bottom);
  --constant--safe-area-inset-bottom: constant(safe-area-inset-bottom);
  position: fixed;
  bottom: calc(10px + var(--constant--safe-area-inset-bottom));
  bottom: calc(10px + var(--safe-area-inset-bottom));
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translatX(-50%);
}
