<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New Free Meeting</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form class="ion-padding-vertical" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-list lines="none">
      <ion-item color="light" lines="none" class="ion-margin-bottom">
        <ion-input type="text" formControlName="name" placeholder="Your name">
        </ion-input>
      </ion-item>

      <ion-item color="light" lines="none">
        <ion-datetime class="ion-no-padding" displayFormat="MMM DD, YYYY HH:mm" pickerFormat="MMM DD, YYYY HH:mm"
          min="{{minDate}}" max="{{maxDate}}" formControlName="time" placeholder="Select time" minuteValues="0,15,30,45">
        </ion-datetime>
      </ion-item>
    </ion-list>

    <ion-row class="ion-margin-top ion-justify-content-center">
      <ion-col size-xs="12" size-md="6" class="ion-text-center ion-no-padding">
        <ion-button type=" submit" color="primary" expand="block" shape="round" [disabled]="isLoadingViewVisible">
            Create meeting
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>