<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- <div class="chats">
    <div class="collapse-container">
      <ion-button mode="ios" fill="clear" (click)="hideTools()">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-button>
    </div>

    <div class="chat-container">
      <div class="messages-container">
      </div>
      <div class="chat-text-container">
        <div class="chatform"></div>
      </div>
    </div>
  </div> -->
  <div class="main">

    <canvas id="mainCanvas"></canvas>

    <div class="tools">
      <div class="tool-show" (click)="showTools()">
        <ion-icon *ngIf="isHide" src="assets/icons/chevron_left.svg"></ion-icon>
      </div>
      <div class="list-btn btn-group">
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/compare.svg"></ion-icon>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/add_img.svg"></ion-icon>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/pen.svg"></ion-icon>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/eraser2.svg"></ion-icon>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/zoom_in.svg"></ion-icon>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/zoom_out.svg"></ion-icon>
        </ion-button>
        <ion-button mode="ios" fill="clear">
          <ion-icon src="assets/icons/hand.svg"></ion-icon>
        </ion-button>
      </div>

      <ion-button class="collapse-btn" fill="clear" (click)="hideTools()">
        <ion-icon src="assets/icons/chevron_left.svg"></ion-icon>
        <ion-icon src="assets/icons/chevron_left.svg"></ion-icon>
      </ion-button>
    </div>
  </div>


</ion-content>