.main {
  background: #ddd;
  width: 100%;
  height: 100%;
  #mainCanvas{
    width: 100%;
    height: 100%;
  }
}
.tools {
  position: fixed;
  left: 25%;

  bottom: 0px;
  height: 66px;
  background: #f2f2f2;
  // padding-top: 16px;
  // padding-bottom: 16px;
  // padding-right: 16px;

  .tool-show {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 66px;
    height: 20px;
    background-color: #f2f2f2;
    z-index: 1;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    ion-icon {
      transform: rotate(270deg);
    }
    transition: 2s;
  }
  display: flex;
  
  .list-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    ion-button {
      width: 66px;
      height: 66px;
    }
  }

  ion-button {
    font-size: 22px;
    margin: 0;
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    &.collapse-btn {
      width: 66px;
      height: 66px;
      ion-icon {
        padding: 0;
        font-size: 12px;
      }
      transform: rotate(90deg);
    }
  }
}

/*---------------Chat bar---------------*/
// .chats {
//   background-color: #eaeef7;
//   position: absolute;
//   width: 18%;
//   top: 0px;
//   left: 0px;
//   bottom: 0px;
//   height: inherit;
//   display: block;
//   min-width: 240px;
//   overflow: visible;
// }
