<ion-header>
  <ion-toolbar>
    <ion-buttons flex-horizontal-center>
      <ion-button (click)="rotate()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
      <ion-button class="ion-margin-horizontal" (click)="cancel()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button (click)="finish()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="canvas">
    <img [src]="imageBase64" (load)="cropperLoad()" #image>
  </div>
</ion-content>