ion-content {
  --background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  --color: white;
}
ion-toolbar {
  --background: rgba(15, 12, 41, 0.2);
  --color: white;
}

.background {
  background-color: #000;
  height: 100%;
}

.canvas {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  & > img {
    max-height: 100%;
    max-width: 100%;
  }
}
